@model IEnumerable<Bangazon.Models.PaymentType>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Payment Types</h1>

<p>
</p>
<table class="table" >
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @Html.ActionLink(@item.Description, "Details",  new { Id = item.PaymentTypeId })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.PaymentTypeId })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create"> Create New Payment Type</a>
</p>