@model IEnumerable<Bangazon.Models.Product>


@{
    ViewData["Title"] = "Index";
}

<h1>Bangazon, Inc.</h1>

    <div class="text-center">
        <h1 class="display-4">welcome</h1>
        <p>learn about <a href="https://docs.microsoft.com/aspnet/core">building web apps with asp.net core</a>.</p>
    </div>

